//下記以外はproducts/new.scssを引用
.content-form__category{
  &:first-child{
    margin: 0;
  }
  margin: 40px 0 0;
  font-size: 13px;
  @include clearfix();
}

.product--main__body-content--button {
  text-align: center;
  p {
    margin: 16px auto;
  }
  &--red {
    margin: 16px 0 0;
    background: $red;
    color: $white;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
  &--gray {
    margin: 16px 0 0;
    background: #aaa;
    color: black;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
}
#brand {
  height: 48px;
  width: 100%;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
.form-arbitrary {
  background: #ccc;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
input {
  height: 48px;
  width: 100%;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.upload--container--drop-box {
  &--form {
    display: none;
  }
  & > label {
    color: #f5f5f5;
  }
}