.register-footer
 .register-footer_view
  %nav
   %li
    %a{ :href => "https://www.mercari.com/jp/privacy/" }プライバシーポリシー
   %li
    %a{ :href => "https://www.mercari.com/jp/privacy/" }メルカリ利用規約
   %li
    %a{ :href => "https://www.mercari.com/jp/tokutei/" }特定商取引に関する表記
  
  .register-footer_view_logo
   %a{ :herf => "https://www.mercari.com/jp/" }
    = image_tag "registrations_page/logo-gray.svg", size: '80x65', alt:"mercari" do
     %p © 2019 Mercari