@mixin button{
    outline:0;
    width: 100%;
    height:50px;
    font-size: 15px;
    line-height: 50px;
    border-top: 1px solid #eee;
    cursor: pointer;
    text-align:center;
    position: relative;
}

// registrations/index.html.hamlと関連
.login{
    background-color:#f5f5f5;
    &-sign{
      width: 456px;
      margin: 0 auto;
      background: #fff;
    }
    &_container{
    width: 700px;
    margin: 0 auto;
       &_new{
        font-size: 22px;
        padding: 32px;
        text-align: center;
        line-height: 1.0;
        background: #fff;
        border-bottom: 1px solid #ccc;
        font-size:15px;
            p{
              font-size:15px;
              margin-bottom: 5px;
            }
            a.new_btn{
            height: 50px;
            display: block;
            margin: 0 auto;
            border: 1px solid #0099e8;
            background: #0099e8;
            color: #fff;
            line-height: 50px;
            width: 320px;
            text-decoration: none;
            }
            h2{
                font-weight: bold;
                font-size:21px;
            }
        }
    }
    .login_content{
        margin: 0 auto;
        width: 700px;
        background: #fff;
        padding: 32px 64px;
        &_form{
        margin: 0 auto;
        margin-bottom: 45px;
        width:320px;
        text-align: center;
           button#email{
           @include button;
           border-radius: 4px;
           margin-bottom:16px;
           background-color: #ea352d;
           color: #fff;
           text-align:center;
             i.fa.fa{
               position: absolute;
               left:12px;
               top:14px;
               font-size:20px;
             }
              a.new_btn{
                color: #fff;
              }
           }
           button#facebook{
           @include button;
           border-radius: 4px;
           background: #385185;
           color: #fff;
           margin: 0 auto;
             i.fa.fa{
               position: absolute;
               left:10px;
               top:9px;
               }
               a{
                color: #fff;
               }
            }
            button#Google{
            @include button;
            border-radius: 4px;
            margin-top:20px;
            border-top: 1px solid #eee;
            border: #979797 solid 1px;
            margin: 16px 0 0;
              img{
                position: absolute;
                left:12px;
                top:13px;
              }
              a{
                color:black;
               }
            }
        }
    }
} 


// sessions/new.html.hamlと関連
.login-field{
    margin: 0 auto;
    width: 456px;
    background: #fff;
    padding: 32px 64px;
    &_form{
        margin: 0 auto;
        margin-bottom: 45px;
        width:320px;
        text-align: center;
        button#facebook{
            @include button;
            background: #385185;
            color: #fff;
            margin: 0 auto;
              i.fa.fa{
                position: absolute;
                left:10px;
                top:10px;
                }
                a{
                  color: #fff;
                 }
            }
            button#Google{
             @include button;
             margin-top:20px;
             border-top: 1px solid #eee;
             border: #979797 solid 1px;
             margin: 16px 0 0;
              img{
                position: absolute;
                left:12px;
                top:13px;
              }
              a{
                color: black;
               }
            }
        }
    form{
        margin: 0 auto;
    .form{
        margin: 0 auto;
        margin-top:20px;
        width: 320px;
        &_input{
        width: 100%;
        height:50px;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px 16px 8px;
        }
        .login-btn{
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            width: 100%;
            height:50px;
        }
        &_forget{
        margin: 40px 0 0;
        .forget_link{
            color: #0099e8;
            text-decoration: none;
            font-size:15px;
        }
      }
    }
  }
}
