header {
  font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
  font-weight: 500;
  position: relative;
  background: $white;
  max-width: 100%;
  height: 100px;
}
.wrapper {
  font-size: 15px;
  padding: 8px 0 0;
  .wrapper__content__top {
    height: 40px;
    width: 1020px;
    margin: 0 auto;
    .search-form {
      float: right;
      &__input{
        float: left;
        height: 40px;
        width: 840px;
        padding: 0 50px 0 10px;
        margin-left: 30px;
        background-color: $main-background;
        border-style: solid;
        border-color: rgb(204,204,204);
        border-width: 1px;
        border-radius: 4px;
      }
      &__btn{
        border-style: none;
        height: 38px;
        width: 40px;
        background-color: $main-background;
        margin: 1px 1px 1px -44px;
      }
      &__icon{
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
  .wrapper__content__bottom {
    height: 44px;
    width: 1020px;
    margin: 0 auto;
    padding: 8px 0 0;
    .wrapper__content__bottom--left {
      float: left;
      height: 44px;
      width: 309px;
      .category-search {
        float: left;
        font-weight: bold;
        @include toppage-parts(); //引数は(height, width)--デフォルトでheight:44px, width:150pxを設定済み
      }
      .brand-search {
        float: right;
        font-weight: bold;
        @include toppage-parts(44px,140px);
      }
    }
    .wrapper__content__bottom--right {
      float: right;
      height: 44px;
      width: 195px;
      .sign-up {
        float: left;
        @include toppage-parts(32px,106px);
        color: $white;
        background-color: $red;
        border-radius: 4px;
      }
      .log-in {
        float: right;
        @include toppage-parts(32px,78px);
        color: $liteblue;
        border: 1px solid $liteblue;
        border-radius: 4px;
      }
    }
  }
}
.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  height: 50px;
  line-height: 50px;
  &__content{
    margin: 0 auto;
    width: 950px;
  }
}