.sub {
  height: 616px;
  width: 224px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
}
header {
  position: relative;
  background: $white;
  width: 100%;
  height: 100px;
  .wrapper {
    font-size: 15px;
    padding: 8px 0 0;
    max-width: 1020px;
    min-width: 700px;
    margin: 0 auto;
    .wrapper__content__top {
      height: 40px;
      max-width: 1020px;
      min-width: 480px;
      @include responsive-width (100%);
      margin: 0 auto;
      img.mercari {
        float: left;
      }
      .search-form {
        margin-left: 20px;
        float: left;
        width: calc(100% - 155px);

        &__input{
          float: left;
          height: 40px;
          width: 100%;
          padding: 0 50px 0 10px;
          background-color: $main-background;
          border-style: solid;
          border-color: $border-color;
          border-width: 1px;
          border-radius: 4px;
        }
        &__btn{
          border-style: none;
          height: 36px;
          width: 40px;
          background-color: $main-background;
          margin: 2px 2px 2px -44px;
        }
        &__icon{
          font-size: 15px;
          cursor: pointer;
        }
      }
    }
    .wrapper__content__bottom {
      height: 44px;
      max-width: 1020px;
      min-width: 700px;
      margin: 0 auto;
      padding: 8px 0 0;
      @include responsive-width (100%);
      .wrapper__content__bottom--left {
        float: left;
        height: 44px;
        @include responsive-width (30%);
        min-width: 360px;
        #pulldown {
          min-width: 300px;
          height: 44px;
          position: relative;

          ul.menu li {
            float: left;
            width: 35%;
            height: 44px;
            min-width: 170px;
            position: relative;
            ul {
              display: none;
            }
            .menu_icon {
              font-size: 15px;
              color: $black;
              line-height: 44px;
              margin-left: 5px;
              float: left;
              color: $red;
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
              line-height: 100%;
              text-indent: 10px;
              font-weight: bold;
              font-size: 14px;
              color: $black;
              text-decoration: none;
              position: relative;
              line-height: 44px;
              
              &:hover {
                color: $liteblue;
              }
            }

            ul li {
              width: 224px;
              position: relative;
              top: 0;
              background-color: $white;
              z-index: 200;
              a {
                font-size: 14px;
                font-weight: 500;
                width: 224px;
              }

              &:hover > a {
                color: $white;
                background-color: $red;
              }
              ul.sub {
                position: absolute;
                left: 100%;
                background-color: $white;
                z-index: 200;
                li {
                  height: 30px;
                  line-height: 30px;
                  a {
                    width: 224px;
                    line-height: 30px;
                  }
                  &:hover > a {
                    color: inherit;
                    background-color: $litegray;
                  }
                }
              }
            }

            ul.sub {
              display: none;
            }
          }
        }
      }
  
      .wrapper__content__bottom--right {
        float: right;
        height: 100%;
        min-width: 200px;
        @include responsive-width (60%);
        display: flex;
        position: relative;
        .sign-up {
          float: left;
          @include toppage-parts(90%, 53%);
          color: $white;
          background-color: $red;
          border-radius: 4px;
        }
        .log-in {
          float: right;
          @include toppage-parts(90%,45%);
          color: $liteblue;
          border: 1px solid $liteblue;
          border-radius: 4px;
        }

        .liked_items {
          width: 110px;
          height: 44px;
          line-height: 44px;
          position: absolute;
          right: 400px;
          font-size: 14px;
          @media only screen and (max-width:1068px){
            display: none;
          }
          a {
            text-decoration: none;
            color: $black;
            &:hover {
              color: $liteblue;
            }
          }           
        }

        .news {
          width: 83px;
          height: 44px;
          line-height: 44px;
          font-size: 14px;
          position: absolute;
          right: 270px;
          &:hover {
            color: $liteblue;
          }
        }

        .todo {
          width: 130px;
          height: 44px;
          line-height: 44px;
          font-size: 14px;
          position: absolute;
          right: 120px;
          &:hover {
            color: $liteblue;
          }
        }

        .mypage {
          width: 120px;
          height: 44px;
          line-height: 44px;
          font-size: 14px;
          position: absolute;
          right: 0;
          .avater {
            position: absolute;
            top: 5px;
            left: 0;
            border-radius: 50%;
          }
          .menu__mypage {
            position: absolute;
            right: 0;
            color: $black;
            &:hover {
              color: $liteblue;
            }
          }
        }
      }
    }
  }
}

.bread-crumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  background: #fff;
  height: 50px;
  line-height: 50px;
  &__content{
    margin: 0 auto;
    max-width: 1020px;
    min-width: 700px;
  }
}
  