#slide {
  margin-bottom: 30px;
  width: 100%;
  height: 390px;
  background-color: $main-background;
  padding: 0;
  .slide-banner-camp {
    width: 100%;
    height: 100%;
    img {
      object-fit: cover;
      margin: 0 auto;
    }
  }
  .slide-banner-phone {
    width: 860px;
    height: 100%;
    align-content: center;

    &__image {
      float: right;
      width: 430px;
      height: 100%;
      margin-right: 300px;
    }
    &__top {
      padding: 20px 0 0 40px;
      font-size: 50px;
      font-weight: bold;
      white-space: nowrap;
      margin: 0 0 16px;
      margin-left: 300px;
      h2 {
        font-size: 60px;
        font-weight: 800;
        color: $black;
      }
    }
    &__bottom {
      padding: 0 0 0 40px;
      width: 100%;
      white-space: nowrap;
      margin: 0 0 24px;
      h3 {
        font-size: 18px;
        color: $black;
        margin-left: 300px;
      }
    }
    &__icon {
      padding: 0 0 0 40px;
      cursor: pointer;
      display: flex;
      margin-left: 300px;
    }
  }
}

.container-toppage {
  background-color: $main-background;
  height: 100%;
  width: 100%;
  // headerは切り取ってありますheader.scssにあります
  // footerは切り取ってありますfooter.scssにあります
  // ここからmain
  .popular {
    background-color: $white;
    height: 170px;
    width: 100%;
    padding: 56px 0 30px;
    &__title {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      margin: 0 0 16px;
    }
    ul {
      text-align: center;
      li {
        display: inline;
        margin: 10px 0 0 10px;
        @include toppage-parts();
        font-weight: bold;
        background-color: #EFEFEF;
        padding: 8px 16px;
        border-radius: 14px;
      }
    }
  }
  .new-products {
    width: 700px;
    height: 100%;
    padding: 43px 0 100px;
    margin: 0 auto;
    &__category {
      margin-top: 60px;
      &__header {
        @include clearfix();
        margin-bottom: 16px;
        &--title {
          width: 609px;
          height: 33px;
          font-size: 24px;
          font-weight: bold;
          float: left;
        }
        &--detail {
          width: 91px;
          height: 24px;
          font-size: 14px;
          font-weight: bold;
          color: $liteblue;
          float: right;
          padding: 5px 16px 5px 5px;
          margin-right: 1px;
          cursor: pointer;
          
        }
        .arrow::before {
          float: right;
          width: 14px;
          height: 14px;
          border-top: 1px solid $liteblue;
          border-right: 1px solid $liteblue;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
      &__content{}
    }
  }
}

.camera-button{
  width: 160px;
  height: 160px;
  background-color: $red;
  border-radius: 50%;
  padding-top: 32px;
  position: fixed;
  right: 32px;
  bottom: 32px;
  &__text{
    font-size: 22px;
    text-align: center;
    color: $white;
  }
  &__icon{
    font-size: 55px;
    padding-left: 50px;
    color: $white;
  }
}
