// headerは切り取ってありますheader.scssにあります
// footerは切り取ってありますfooter.scssにあります
// ここからmain
.wrapper-identification {
  background-color: $main-background;
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
  .container {
    width: 1020px;
    height: 100%;
    margin: 0 auto; 
    padding-bottom: 40px;
    @include clearfix();
    &__right {
      width: 700px;
      height: 1208px;
      float: right;
      background-color: $white;
      &--title {
        width: 100%;
        height: 50px;
        text-align: center;
        border-bottom: 1px solid $border-color;
        h2 {
          color: $black;
          padding: 8px 24px;
          font-size: 24px;
          font-weight: 800;
        }
      }
      &__form {
        display: block;
        width: 100%;
        height: 1158px;
        padding: 64px;

        &--text {
          margin-top: 8px;
          p {
            font-size: 14px;
          }
        }

        &--text--right {
          @include clearfix();
          p {
            float: right;
            margin-right: 5px;
            font-size: 14px;
            color: $liteblue;
          }
          .icon {
            float: right;
            color: $liteblue;
          }
        }

        &--text--right2 {
          margin-top: 40px;
          @include clearfix();
          p {
            float: right;
            margin-right: 5px;
            font-size: 14px;
            color: $liteblue;
          }
          .icon {
            float: right;
            color: $liteblue;
          }
        }

        &--group{
          width: 100%;
          margin-top: 40px;
          position: relative;
          label {
            font-size: 14px;
            font-weight: 600;
          }
          p {
            margin-top: 8px;
            font-size: 14px;
          }
          .arbitrary {
            margin-left: 8px;
            padding: 2px 4px;
            border-radius: 2px;
            background-color: $gray;
            color: $white;
            font-size: 12px;
          }
          .input {
            width: 100%;
            height: 48px;
            margin-top: 8px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid $litegray;
            font-size: 16px;
            color: $black;
            background-color: $white;
            cursor: pointer;

          }
          select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url(common/chevron-down.svg);
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: right 10px center;
          }
        }

        &--btn {
          width: 100%;
          height: 50px;
          color: $white;
          background-color: $red;
          margin-top: 40px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
  }
}