%aside
  .container-bottom
    .container-bottom--left
      %h3 スマホでかんたんフリマアプリ
      %h2 今すぐ無料ダウンロード!
      .container-bottom--left--icon
        = image_tag "top_page/icon-mercari.png", size: '68x68',class: "icon-mercari",  alt: "Mercari"
        = image_tag "top_page/icon-app_store.svg", size: '144x40',class: "icon-app_store", alt: "App Store"
        = image_tag "top_page/icon-google_play.svg", size: '144x40',class: "icon-google_play", alt: "Google Play"
    .container-bottom--right
      = image_tag "top_page/bottom-phone.png", size: '300x260',  alt: "Phone"